/*? FONTES */

@font-face {
    font-family: "Roboto Regular";
    src: url("fonts/Roboto-Regular_0.ttf");
}

@font-face {
    font-family: "Helvetica Ultralight Regular";
    src: url("fonts/helvetica-ultra-light.otf");
}

@font-face {
    font-family: "Helvetica Condensed Regular";
    src: url("fonts/ps.ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("fonts/Roboto-Light_0.ttf");
}

/** MENU E INDEX */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: black;
    margin: auto;
    font-size: 62.5%;
}

header {
    background-image: url("img/index-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 77rem;
    padding: 2%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

#logo-in8-dev {
    width: 150px;
}

#menu {
    color: white;
    list-style-type: none;
    width: 30%;
}

#menu li {
    display: inline;
    font-family: "Roboto Regular";
    padding: 0 3%;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

#menu li a:hover {
    text-decoration: underline;
}

#titulos {
    font-family: "Helvetica Ultralight Regular";
    margin-top: 10%;
    color: white;
    width: 58%;
}

#title1 {
    font-size: 8rem;
}

#title2 {
    font-size: 4rem;
}

/** FORMULÁRIO DE CADASTRO */

#cadastro {
    padding: 3%;
    background-color: #29abe2;
    text-align: center;
}

#txtcadastro {
    font-family: "Helvetica Ultralight Regular";
    color: white;
    font-size: 5rem;
}

form {
    width: 50%;
}

.input-form-div {
    margin: 6%;
    font-family: "Roboto Regular";
    color: white;
    text-align: left;
    font-size: 1.7rem;
}

.input-form {
    width: 100%;
    border: none;
    font-size: 1.7rem;
    margin-top: 4%;
    background-color: #29abe2;
    border-bottom: 1px solid white;
    font-family: "Helvetica Condensed Regular";
    color: white;
}

button[type="submit"] {
    background-color: #012d51;
    color: #29abe2;
    font-family: "Helvetica Ultralight Regular";
    width: 40%;
    font-size: 4rem;
    padding: 2% 0;
}

/** LISTA DE CADASTRO */

#lista-de-cadastro {
    height: 100%;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    padding: 3% 8%;
    width: 100%;
}

#txttable {
    font-family: "Helvetica Ultralight Regular";
    color: #29abe2;
    font-size: 4rem;
    text-align: center;
}

table {
    margin: 7% auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 70%;
    font-size: 1.76rem;
}

th {
    font-family: serif;
    color: #012d51;
    font-family: "Roboto Regular";
    padding: 0;
    width: 25%;
    height: 10vh;
    border-bottom: 1px solid #29abe2;
    border-right: 1px solid #29abe2;
}

th:last-child,
td:last-child {
    border-right: none;
}

tr {
    height: 10vh;
}

tr:last-child td {
    border-bottom: none;
}

td {
    padding: 0;
    border-bottom: 1px solid #29abe2;
    border-right: 1px solid #29abe2;
    font-family: "Helvetica Condensed Regular";
    color: #808080;
}

td:first-child {
    color: #012d51;
    font-family: "Roboto Light";
}

/** RODAPÉ */

footer {
    background-image: url("img/rodape-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 334px;
}

#txt-footer {
    text-align: center;
    color: white;
    font-family: "Roboto Light";
    width: 25%;
    line-height: 2.5;
    position: absolute;
    font-size: 1.6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/** BOTÃO TOPO */

.botao-top {
    background-color: none;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 6rem;
    height: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-top.active {
    bottom: 32px;
    pointer-events: all;
    opacity: 0.5;
}

/** MENU HAMBURGUER */

#btn-mobile,
#btn-mobile2 {
    display: none;
}

#menu-mbl {
    display: none;
}

#menu-mbl li {
    padding: 4%;
    padding-top: 13%;
    padding-left: 20%;
}
#menu-mbl li a {
    text-decoration: none;
    color: white;
    font-size: 2.8rem;
    font-family: "Roboto Light";
}

@media screen and (max-width: 1920px) {
    #titulos {
        margin-top: 22%;
    }
    header {
        height: 94rem;
    }
}

@media screen and (max-width: 1440px) {
    #titulos {
        margin-top: 24%;
    }
    header {
        height: 90rem;
    }
}
@media screen and (max-width: 1024px) {
    #logo-in8-dev {
        float: right;
    }
    #menu {
        float: left;
    }
    html,
    body {
        font-size: 57%;
    }
    #titulos {
        margin-top: 24%;
        margin-left: 18%;
    }
    header {
        height: 120rem;
    }
    #cadastro {
        padding: 6%;
    }
    button[type="submit"] {
        font-size: 3.3rem;
    }
    form {
        width: 70%;
    }
    .input-form-div {
        font-size: 2rem;
    }
    .input-form {
        font-size: 2rem;
    }
    #lista-de-cadastro {
        padding: 7% 4%;
    }
    table {
        margin: 7% auto;
        width: 90%;
        font-size: 1.86rem;
    }
    .botao-top {
        display: none;
    }
    #txt-footer {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 768px) {
    html,
    body {
        font-size: 52%;
    }
    table {
        margin: 7% auto;
        width: 90%;
        font-size: 1.5rem;
    }
    #txt-footer {
        width: 100%;
    }
    #titulos {
        margin-top: 30%;
    }
    header {
        height: 130rem;
    }
    nav {
        width: 100%;
        margin-top: 2%;
    }
    #btn-mobile {
        display: block;
        background-image: url("svg/hamburguer.svg");
        border: none;
        background-color: transparent;
        outline: none;
        height: 35px;
        width: 41px;
    }
    #btn-mobile2 {
        display: block;
        background-image: url("svg/hamburguer-aberto0.svg");
        border: none;
        background-color: transparent;
        outline: none;
        height: 35px;
        width: 41px;
    }
    #menu {
        display: none;
    }
    #menu-mbl {
        position: absolute;
        width: 50%;
        top: 0px;
        left: 0;
        height: 50vh;
        visibility: hidden;
        background-color: #29abe2;
        text-decoration: none;
        color: white;
    }
    #nav.active #menu-mbl {
        display: block;
        visibility: visible;
    }
    #nav.active #btn-mobile {
        display: none;
    }
    #nav.active #btn-mobile2 {
        margin-top: 8%;
        margin-left: 40%;
        display: block;
    }
    #nav.active {
        display: block;
    }
    #nav.active #logo-in8-dev {
        margin-right: 136px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 426px) {
    html,
    body {
        font-size: 52%;
    }
    header {
        padding-top: 5%;
        height: 100rem;

        background-position: 60%;
    }
    #main {
        width: 80%;
    }
    #titulos {
        display: block;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #title1 {
        font-size: 9.2rem;
    }
    #title2 {
        font-size: 3.8rem;
        display: inline;
    }
    #logo-in8-dev {
        width: 120px;
    }
    #cadastro {
        padding: 10%;
    }
    form {
        width: 95%;
        margin-top: 10%;
    }
    .input-form-div {
        font-size: 1.8rem;
    }
    .input-form {
        font-size: 1.8rem;
    }
    button[type="submit"] {
        font-size: 3.7rem;
        width: 88%;
        margin-top: 5%;
        margin-bottom: 3%;
    }
    #txt-footer {
        width: 50%;
    }
    #lista-de-cadastro {
        padding: 15% 4%;
    }
    #txttable {
        display: block;
    }
    #menu-mbl {
        height: 40vh;
    }
    #btn-mobile {
        display: block;
        background-image: url("svg/hamburguer.svg");
        border: none;
        background-color: transparent;
        outline: none;
        height: 35px;
        width: 41px;
    }
    #btn-mobile2 {
        display: block;
        background-image: url("svg/hamburguer-aberto0.svg");
        border: none;
        background-color: transparent;
        outline: none;
        height: 35px;
        width: 41px;
    }
    #nav.active #btn-mobile2 {
        margin-top: 14%;
        margin-left: 32%;
        margin-right: 50%;
    }
    #nav.active #logo-in8-dev {
        margin-right: 60px;
        margin-top: 3px;
    }
}
