@font-face {
    font-family: "Roboto Regular";
    src: url("fonts/Roboto-Regular_0.ttf");
}

@font-face {
    font-family: "Helvetica Ultralight Regular";
    src: url("fonts/helvetica-ultra-light.otf");
}

@font-face {
    font-family: "Helvetica Condensed Regular";
    src: url("fonts/ps.ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("fonts/Roboto-Light_0.ttf");
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: auto;
}

header {
    background-image: url("img/index-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 940px;
    padding: 2%;
    margin: 0 auto;
}

#main {
    width: 55%;
}

#logo-in8-dev {
    width: 150px;
    float: left;
}

#menu {
    color: white;
    list-style-type: none;
    width: 35vh;
    float: right;
}

#menu li {
    display: inline;
    font-family: "Roboto Regular";
    padding: 0 3%;
}

#menu li a {
    text-decoration: none;
    color: white;
}

#menu li a:hover {
    text-decoration: underline;
}

#titulos {
    font-family: "Helvetica Ultralight Regular";
    margin-top: 31%;
}

#title1,
#title2 {
    color: white;
}

#title1 {
    font-size: 5em;
}

#title2 {
    font-size: 2.5em;
}

#cadastro {
    margin: 0 auto;
    padding: 8%;
    width: 100%;
    background-color: #29abe2;
    text-align: center;
}

#txtcadastro {
    font-family: "Helvetica Ultralight Regular";
    color: white;
    font-size: 2.5em;
}

#align-cadastro {
    width: 40%;
}

form {
    margin: 5%;
}

.input-form-div {
    margin: 10%;
    font-family: "Roboto Regular";
    color: white;
    text-align: left;
    margin-left: 5%;
    font-size: 1em;
}

.input-form {
    width: 105%;
    border: none;
    margin-top: 3%;
    background-color: #29abe2;
    border-bottom: 1px solid white;
    font-family: "Helvetica Condensed Regular";
    font-size: 1em;
    color: white;
}

input[type="submit"] {
    background-color: #012d51;
    color: #29abe2;
    font-family: "Helvetica Ultralight Regular";
    width: 50%;
    height: 10vh;
    font-size: 2.5em;
}

#lista-de-cadastro {
    height: 940px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    padding: 8%;
    width: 100%;
}

#align-table {
    width: 60%;
}

#txttable {
    font-family: "Helvetica Ultralight Regular";
    color: #29abe2;
    font-size: 2.5em;
}

table {
    margin: 15% auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    font-size: 1.1em;
}

th {
    font-family: serif;
    color: #012d51;
    font-family: "Roboto Regular";
    padding: 0;
    width: 25%;
    height: 10vh;
    border-bottom: 1px solid #29abe2;
    border-right: 1px solid #29abe2;
}

th:last-child,
td:last-child {
    border-right: none;
}

tr {
    height: 10vh;
}

tr:last-child td {
    border-bottom: none;
}

td {
    width: 25%;
    padding: 0;
    border-bottom: 1px solid #29abe2;
    border-right: 1px solid #29abe2;
    font-family: "Helvetica Condensed Regular";
    color: #808080;
}

td:first-child {
    color: #012d51;
    font-family: "Roboto Light";
}

footer {
    background-image: url("img/rodape-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 334px;
}

#txt-footer {
    color: white;
    font-family: "Roboto Light";
    width: 25%;
    line-height: 2.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
